*{
    font-family: fantasy;
    font-size: 50px;
}

.navigation{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: darkblue;
}

.navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: lightblue;
    color: white;
    text-decoration: underline;
}

.navigation a.active {
    background-color: lightsteelblue;
    color: black
}
.navigation input:focus{
    color: black;
}

a:hover{
    color:lightblue;
    font-weight: bold;
}

a:active{
    color: red;
    font-style: italic;
}

a:visited{
    color: yellow;
}

input:focus{
    color: green;
    font-size: 70px;
}